*{
margin: 0;
padding: 0;
}


#p3{
    background-color: coral;
    width: 30%;
}
.ortak{
    background-color: darkkhaki;
}


#id3{
    background-color: darkorange;
    border: 5px solid red;
    border-style: dashed;
    border-width: 5px;
    border-radius: 20px;
    padding:20px ;
    margin:  10px 50px 100px 200px;
    text-align: center;
}


